#welcomeWrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    overflow: hidden;
}
#contentWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 30%;
    min-width: 260px;
    margin: auto;
    border:1px #ccc solid;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    color: #eee;
}
